* {
  box-sizing: border-box;
}

body {
  font-family:  Helvetica;
  margin: 0px;
  background-color: rgb(0, 0, 0);
}

header {
  padding: 0px;
  text-align: center;
  background: black;
  color: #fff;
  height: 179px;
  

}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  background-color: rgba(136, 19, 231, 0.651);;
  height: 50px;
}
nav a {
  color: rgb(252, 250, 250);
  text-transform: capitalize;
  size: 50px;
  text-decoration: none;
}
main {
  display: flex;
justify-content: space-evenly;
background-color: rgb(255, 255, 255);
}

.card {
  padding: 0px;
  float: left;
  width: 25%;

  
}
p {
  color:#fff
}

.card h2 {
  padding: 5.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: black;
  height: 50px;
  background-color: rgba(136, 19, 231, 0.651);;
}

.card p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: black;
  height: 50px;
  background-color: rgba(136, 19, 231, 0.651);
}

.card img {
  width: 100%;

}
footer {
  display: flex;
  margin: 0 px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  background-color: rgba(136, 19, 231, 0.651);;
  box-sizing: content-box;
  height: 50px;
}
footer a {
  color: rgb(252, 250, 250);
  text-transform: capitalize;
  size: 50px;
  text-decoration: none;
}
  
@media screen and (max-width: 992ppx) {
  .card {
    width: 50%;
  }

}
@media screen and (max-width: 768px) {
.card{
  width: 100%;
}
 
}